<% layout("/layouts/boilerplate.ejs") %>
<body>

    <h1><b>
            <%= listing.name %>
        </b></h1>

    <div class="bigImage">
        <img src="<%= listing.Image %>" alt="<%= listing.name %>">
    </div>

    <ul id="details">
        <li><b>Location :</b>
            <%= listing.location %>
        </li>

        <li><b>Description :</b>
            <%= listing.description %>
        </li>

        <li><b>Pricing : ₹</b>
            <%= listing.price.toLocaleString("en-IN") %>
        </li>
    </ul>

    <div class="buttons">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-warning">
            Edit
        </a>
        <form action="/listings/<%=listing._id%>?_method=Delete" method="post">
            <button class="btn btn-danger">
                Delete
            </button>
        </form>


        <a href="/listings" class="btn btn-secondary">
            Back
        </a>
    </div>


</body>
